* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Rokkitt', serif;
    background-color: var(--bg);
    color: #010101;
  }
  
  .navbar {
    background-color: #f0e81e;
    margin-top: 0px;
  }
  .navbar-brand {
    font-weight: 600;
  }
  
  .admin img {
    width: 100%;
    height: 30px;
    margin-left: 10px;
    padding-right: 25px;
    padding-top: 8px;
  }

  .for {
    display: flex;
    margin-top: 90px;
    width: 160px;
    height: 80px;
    background-color: #55b084;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding-top: 6px;
    margin-left: 40px;
  }
  .for img {
    width: 50px;
    height: 55px;
    margin-left: 10px;
    margin-top: 6px;
  }
  .for:hover {
    transition: all .3s;
    background-color: #f0e81e;
    color: #010101;
    cursor: pointer;
  }
  
  [type = "text"].form-control {
    width: 60%;
    border: 1px solid #010101;
  }

  .tabel {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
  }
  
  #tabel1 {
    border: 0cm;
    background-color: #ebb840;
    text-align: center;
    margin-right: 30px;
    margin-top: 200px;
  }
  #tabel1 th {
    border: 5px solid #fff;
    text-align: center;
    padding: 20px;
  }
  
  #tabel1 td {
    border: 5px solid #fff;
    font-weight: 50px;
  }
  
  [type = "submit"].btn {
   margin-left: 31.5rem;
   margin-top: 2rem;
  }
  
  .judul {
    padding-top: 4rem ;
  }
  
  .judul h1 {
    padding-left: 2rem;
    margin-bottom: 1rem;
  }