* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rokkitt', serif;
  background-color: var(--bg);
  color: #010101;
}

/* NAVBAR */

.navbar {
  background-color: #f0e81e;
  margin-top: 0px;
}
.navbar-brand {
  font-weight: 600;
}

[type ="button"].btn {
  background: #55b084;
  color: #fff;
  margin-left: 20px;
  margin-right: 15px;
  padding-top: 7px;
}
[type ="button"].btn:hover {
  background-color: #f5773c;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: all .2s;
}

.admin img {
  width: 100%;
  height: 30px;
  margin-left: 10px;
  padding-right: 25px;
  padding-top: 8px;
}


/* ISI INDEX */
.all {
  display: flex;
  flex-direction: row ;
}

.hero {
  padding-left: 10rem;
  padding-top: 7rem;
}

.box {
  width: 100%;
}

.hero h1 {
  padding: 1rem 7%;
  font-size: 2rem;
  color: #010101;
  line-height: 1.2;
}
.hero .box1 {
  width: 100%;
  height: 100px;
  background-color: #f0e81e;
  margin-bottom: 50px;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
}
.box1 h2 {
  font-size: 1.4rem;
  line-height: 1.5;
}

.hero .box2 {
  width: 100%;
  height: 100px;
  background-color: #f0e81e;
  border-radius: 20px;
  text-align: center;
  padding-top: 10px;
}
.box2 h2 {
  font-size: 1.3rem;
  line-height: 1.5;
}

.for {
  display: flex;
  margin-top: 90px;
  width: 160px;
  height: 80px;
  background-color: #55b084;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding-top: 6px;
  margin-left: 40px;
}
.for img {
  width: 50px;
  height: 55px;
  margin-left: 10px;
  margin-top: 6px;
}
.for:hover {
  transition: all .3s;
  background-color: #f0e81e;
  color: #010101;
  cursor: pointer;
}

.box3 h2 {
  font-size: 1.5rem;
  margin-top: 2px;
  text-align: center;
  padding-top: 15px;
  text-decoration: none ;
}
.box3 img {
  width: 50px;
  height: 40px;
  display: flex;
}

.hero2 img {
  width: 40vw;
  height: 60vh;
  margin-top: 13rem;
  margin-left: 50%;
}

.data {
  padding-top: 3rem;
  padding-left: 6rem;
  display: flex;
}
.inputan {
  width: 70%;
}

[type = "text"].form-control {
  width: 60%;
  border: 1px solid #010101;
}

#tabel1 {
  border: 1px solid #010101;
  background-color: #ebb840;
  text-align: center;
  margin-right: 30px;
  margin-top: 2rem;
}
#tabel1 th {
  border: 5px solid #fff;
  text-align: center;
}

#tabel1 td {
  border: 5px solid #fff;
  font-weight: 50px;
}

#tabel2 {
  border: 2px solid #010101;
  margin-left: 20px;
  margin-right: 50px;
}
#tabel2 td {
  text-align: center;
  border: 2px solid #010101;
}
#tabel2 th {
  text-align: center;
  background-color: #ebb840;
  border: 2px solid #010101;
}

[type = "submit"].btn {
 margin-left: 31.5rem;
 margin-top: 2rem;
}

.judul {
  padding-top: 4rem ;
}

.judul h1 {
  padding-left: 2rem;
  margin-bottom: 1rem;
}